@import "./libs/normilize/normilize.css";
@import "./fonts.css";
@import "./libs/owl/owl.carousel.min.css";
@import "./libs/owl/owl.theme.default.min.css";
@import "./libs/fancyBox/jquery.fancybox.min.css";


.wrapper {
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 20px;
}

header {padding: 13px 0;}

.header-wrap.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
	width: 100%;
	transition: 0.3s ease;
}

.header-wrap {background-color: #F6F6F6;}

.header-wrap.shadow {box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);}

header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


header nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.logo {
	display: block;
	margin-right: 40px;
	font-family: 'Roboto Bold';
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	transition: 0.3s ease;
}

.logo:hover {color: #ED204C;}

header nav a:not(.logo) {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 5px 20px;
    font-family: 'Roboto Regular';
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
    background: transparent;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: 0.2s ease;
}

header nav a:not(.logo):hover {
	color: rgba(0, 0, 0, 1);
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid #ED204C;
}


.header-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header-tel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 235px;
	height: 44px;
	margin-right: 40px;
	padding: 5px 17px 5px 20px;
	font-family: 'Roboto Bold';
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	background: #ED204C;
	border-radius: 25px;
	border: 2px solid #ED204C;
	transition: 0.3s ease;
}


.header-tel svg {
    width: 24px;
    height: 24px;
    margin-right: 19px;
}

.header-tel svg path {
	transition: 0.3s ease;
	fill: #FFFFFF;
}

.header-tel:hover,
.social-link:hover {
	background-color: transparent;
	color: #ED204C;
}

.header-tel:hover svg path {fill: #ED204C;}

.social-link-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	min-width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ED204C;
	border: 2px solid #ED204C;
	transition: 0.3s ease;
}

.social-link:not(:last-child) {margin-right: 20px;}

.social-link svg path {
	transition: 0.3s ease;
	fill: #FFFFFF;
}

.social-link:hover svg path {fill: #ED204C;}


.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 235px;
	height: 44px;
	padding: 5px;
	font-family: 'Roboto Bold';
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	background: #ED204C;
	border-radius: 25px;
	border: 2px solid #ED204C;
	transition: 0.3s ease;
}


.btn-white {
	max-width: 300px;
	background: #ffffff;
	color: #2C2C2C;
	border: 2px solid #ffffff;
}


.btn:hover {
	background-color: transparent;
	color: #ED204C;
}

.btn-white:hover {
	background-color: #fff;
	color: #ED204C;
}

.banner {
    padding: 70px 0 75px;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: top 113px right -30px;
    overflow: hidden;
}

.banner .wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.banner-cnt {
	width: 100%;
	max-width: 550px;
	padding-right: 10px;
}

.banner-subtitle {
	margin-bottom: 25px;
	font-family: 'Roboto Regular';
	font-size: 18px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.5);
}

h1 .red-bg {
    position: relative;
    margin-bottom: 13px;
    padding: 13px 0;
    display: inline-block;
    font-family: 'Roboto Light';
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    background: #ED204C;
}

h1 .red-bg::before,
h1 .red-bg::after{
    content: '';
    position: absolute;
    top: 0px;
    left: -29px;
    display: block;
    width: 30px;
    height: 100%;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background: #ED204C;
}
h1 .red-bg::after{
	left: calc(100% - 1px);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

h1 .red-bg span,
h1 > span:not(.red-bg) span {font-family: 'Roboto Bold';}

h1 > span:not(.red-bg) {
	display: inline-block;
	margin-bottom: 20px;
    font-family: 'Roboto Light';
	font-size: 40px;
	line-height: 40px;
	color: #000000;
}

.banner-benefits {padding-bottom: 30px;}

.banner-bnf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 14px;
}

.banner-bnf-img {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 39px;
	margin-right: 10px;
}

.banner-bnf p {
	font-family: 'Roboto Light';
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}

.banner-cnt .btn {margin-bottom: 56px;}

.banner-price {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.banner-price p {
	font-family: 'Roboto Light';
	font-size: 14px;
	line-height: 14px;
	color: #000000;
}

.banner-price p span {
	font-family: 'Roboto Bold';
	font-size: 18px;
	line-height: 18px;
}

.price-big {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 7px;
    margin-right: 15px;
    font-family: 'Roboto Bold';
    font-size: 36px;
    line-height: 28px;
    color: #000000;
    border-bottom: 2px solid #ED204C;
}

.price-big img {margin: -5px 0 0 9px;}

.banner-img {
    position: relative;
    width: 100%;
    max-width: 575px;
}


.banner-img::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: -80px;
	right: -135px;
	display: block;
	width: 465px;
	height: 465px;
	background-image: url('../images/banner-img-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
}


.banner-img img {
	position: relative;
	z-index: 2;
	width: 100%;
}

.title {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 35px;
}

.title-img {
    width: 68px;
    margin-right: 24px;
}

.title-info {
	position: relative;
	width: 100%;
}


.title-img img {width: 100%;}

.title-num {
    display: block;
    font-family: 'Roboto Bold';
    font-size: 36px;
    line-height: 40px;
    color: #858585;
}

.title-name {
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto Regular';
    white-space: nowrap;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.title-line {
	display: inline-block;
    height: 1px;
    width: 100%;
    margin-bottom: 4px;
    margin-left: 14px;
    background-color: #ED204C;
}

.title-line span {display: none;}

.title-name .bold {font-family: 'Roboto Bold';}

.benefits {
	 padding: 52px 0 58px;
	 background-color: #F6F6F6;
}

.benefits-list {
	display: flex;
	justify-content: space-between;
}

.bnf {
	cursor: pointer;
	width: 100%;
	max-width: 360px;
	padding: 13px 23px;
	background: #ED204C;
	border-radius: 10px;
	transition: 0.3s ease;
}

.bnf:hover {
	background: #FFFFFF;
	box-shadow: 4px 4px 10px rgba(237, 32, 76, 0.25);
}

.bnf-cnt {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 21px 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: 0.3s ease;
}

.bnf:hover .bnf-cnt {border: 1px solid rgba(237, 32, 76, 0.5);}

.bnf-img {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 88px;
	width: 100%;
	margin-bottom: 23px;
	transition: 0.3s ease;
}

.bnf:not(:hover) svg path {
	fill: #ffffff;
	transition: 0.3s ease;
}

.bnf:not(.bnf-1):hover .bnf-img svg path  {
	fill: #ED204C;
}

.bnf p {
	font-family: 'Roboto Bold';
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	transition: 0.3s ease;
}

.bnf:hover p {color: #313131;}

.equipment {padding: 35px 0 50px;}

.equipment-list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}


.equipment-item {
	width: 100%;
	max-width: 360px;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
}

.equipment-img {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 296px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}


.equipment-img:hover::before {opacity: 1;}

.equipment-img img {width: 100%;}

.equipment-cnt {padding: 20px 20px 32px;}

.equipment-cnt div {
	display: block;
	width: 100%;
	font-family: 'Roboto Bold';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #2C2C2C;
}




footer {padding: 13px 0;}

footer .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer nav .logo {margin-right: 70px;}

footer nav a:not(.logo) {
	font-family: 'Roboto Bold';
	font-size: 14px;
	line-height: 14px;
	color: #2F2F2F;
	transition: 0.3s ease;
}

footer nav a:hover,
footer .header-links a:not(.social-link):hover {color: #ED204C;}

footer nav a:not(.logo):not(:last-child) {margin-right: 45px;}

footer .header-links a:not(.social-link) {
	margin-right: 60px;
	font-family: 'Roboto Bold';
	font-size: 16px;
	line-height: 16px;
	color: #2C2C2C;
	transition: 0.3s ease;
}

.form-section {
	padding: 47px 0 30px;
	background-image: url('../images/form-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.form-section-title {
    width: 100%;
    margin-bottom: 8px;
    font-family: 'Roboto Bold';
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.form-section-subtitle {
	position: relative;
    margin-bottom: 22px;
    padding-bottom: 23px;
    width: 100%;
    font-family: 'Roboto Regular';
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
}

.form-section-subtitle::before {
	content: '';
	position: absolute;
	top: 100%;
	left: calc(50% - 222px);
	display: block;
	width: 100%;
	max-width: 445px;
	height: 1px;
	background-color: #fff;
}

.form-section form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.field {
	display: block;
	width: 100%;
	max-width: 388px;
	height: 44px;
	padding: 5px 30px;
	font-family: 'Roboto Regular';
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #FFFFFF;
	border-radius: 25px;
}

.field::-webkit-input-placeholder {color: #fff;}
.field::-moz-placeholder {color: #fff;}
.field:-ms-input-placeholder {color: #fff;}
.field:-moz-placeholder {color: #fff;}

.form-section form input {margin-bottom: 20px;}

.price {padding: 48px 0 44px;}

.price-copy {
	width: 100%;
    font-family: 'Roboto Regular';
	font-size: 14px;
	line-height: 19px;
	color: #2C2C2C;
}

.price-list {
	display: flex;
	justify-content: space-between;
}

.price-item {
	width: 100%;
	max-width: 360px;
	margin-bottom: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
}

.price-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}

.price-item-img img {width: 100%;}

.price-item-cnt {padding: 16px 14px 18px 19px;}

.price-item-title {
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 19px;
    font-family: 'Roboto Bold';
	font-size: 16px;
	line-height: 22px;
	color: #ED204C;
	border-bottom: 1px solid #E2E2E2;;
}

.price-item-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 14px;
}

.price-money {
	display: inline-block;
	padding-right: 10px;
    font-family: 'Roboto Medium';
	font-size: 32px;
	line-height: 32px;
	color: #2C2C2C;
}

.price-money span {
	font-size: 18px;
	line-height: 32px;
}

.price-grow {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-width: 90px;
	height: 34px;
	padding: 0 34px 0 20px;
	font-family: 'Roboto Bold';
	font-size: 16px;
	line-height: 16px;
	white-space: nowrap;
	color: #fff;
	border-radius: 20px;
}

.price-grow::before {
	content: '';
    position: absolute;
    top: 11px;
    right: 18px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.price-grow.up {background: #00DD66;}

.price-grow.down {background: #DD0000;}

.price-grow.down::before {clip-path: polygon(50% 100%, 0 0, 100% 0);}


.price-item-info p {
	font-family: 'Roboto Regular';
	font-size: 14px;
	line-height: 14px;
	color: #777777;
}

.price-item-info p span {color: #ED204C;}

.metallic {
	padding: 51px 0;
	background-color: #F6F6F6;
}

.metallic-table {
	background: #F1F1F1;
    border-radius: 10px 10px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.metallic-table-column {
	width: 100%;
	max-width: 50%;
}

.metallic-table-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 29px;
}

.metallic-table-head p {
	display: flex;
	align-items: center;
	justify-content: flex-start;
    font-family: 'Roboto Regular';
	font-size: 16px;
	line-height: 16px;
	color: #2C2C2C;
}

.metallic-table-head p span  {
	position: relative;
	display: inline-block;
	padding-left: 49px;
	font-family: 'Roboto Bold';
	color: #ED204C;
}

.metallic-table-head p span::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 13px;
	display: block;
	width: 22px;
	height: 1px;
	background-color: #000000;
}

.refresh {cursor: pointer;}

.refresh path {transition: 0.3s ease;}

.refresh:hover path {fill: #ED204C;}

.metallic-table-column:not(:last-child) {border-right: 1px solid #f1f1f1;}

.metallic-table-columnlast-child {border-left: 1px solid #f1f1f1;}

.metallic-table-list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.metallic-table-row {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #fff;
}

.metallic-table-row:not(:last-child) {padding-bottom: 1px;}

.metallic-table-row:not(:last-child)::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0px;
	display: block;
	width: calc(100% - 30px);
	height: 1px;
	background-color: #E2E2E2;
}

.metallic-table-column:not(:last-child) .metallic-table-row::before {left: 30px;}

.metallic-table-row-title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	min-height: 60px;
	max-width: 263px;
	min-width: 263px;
	padding: 5px 19px 5px 67px;
	font-family: 'Roboto Medium';
	font-size: 16px;
	line-height: 16px;
	color: #2C2C2C;
}

.metallic-table-row-title::before {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: 28px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #00DD66;
}

.metallic-table-column.down .metallic-table-row-title::before {background-color: #ED204C;}

.metallic-table-row-price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 60px;
	max-width: 144px;
	min-width: 144px;
	padding: 5px;
	font-family: 'Roboto Regular';
	font-size: 16px;
	line-height: 16px;
	color: #2C2C2C;
	background-color: #F5F5F5;
}

.metallic-table-row-grow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 60px;
	max-width: 162px;
	min-width: 162px;
	padding: 5px;
}

.sertificates {
	padding: 47px 0 102px;
	background-color: #F6F6F6;
}

.slider-section .title  {margin-bottom: 10px;}

.slider-triggers {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 22px;
    margin-top: 38px;
}

.slider-triggers button {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    min-width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ED204C;
    border: 2px solid #ED204C;
    transition: 0.3s ease;
}

.slider-triggers button span {display: none;}

.slider-triggers button:hover {background-color: transparent;}

.slider-triggers button::before {
	content: '';
	display: block;
	width: 18px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: 0.3s ease;
}

.slider-triggers button:not(:last-child) {margin-right: 20px;}

.slider-triggers button.owl-prev::before {background-image: url('../images/arrow-left.svg');}

.slider-triggers button.owl-prev:hover::before {background-image: url('../images/arrow-left-red.svg');}

.slider-triggers button.owl-next::before {background-image: url('../images/arrow-right.svg');}

.slider-triggers button.owl-next:hover::before {background-image: url('../images/arrow-right-red.svg');}

.slider-triggers button.slider-trigger {display: none;}


.sertificates-slider {width: 100%;}

.sertificate {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	max-width: 263px;
}

.sertificate::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s ease;
}

.sertificate:hover::before {opacity: 1;}

.contacts {position: relative;}

.contacts-map {
	width: 100%;
	height: 555px;
}

.contacts-wrap {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.contacts .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contacts-info {
	width: 100%;
	max-width: 360px;
	padding: 36px 30px 36px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.contacts-info .logo {
	display: block;
	margin-bottom: 30px;
    font-family: 'Roboto Bold';
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	transition: 0.3s ease;
}

.contacts-info .logo:hover,
.contact-row a:hover {color: #ED204C;}

.contact-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.contact-row:not(:last-child) {margin-bottom: 20px;}

.contact-row-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	margin-right: 7px;
}

.contact-row-img img {max-width: 100%;}

.contact-row p,
.contact-row a {
    font-family: 'Roboto Regular';
	font-size: 16px;
	line-height: 16px;
	color: #2C2C2C;
	transition: 0.3s ease;
}

.contact-row p span,
.contact-row a span {font-family: 'Roboto Bold';}

.contact-row p:not(:last-child),
.contact-row a:not(:last-child)  {margin-right: 20px;}

.contact-row .social-link{
    width: 28px;
    min-width: 28px;
    height: 28px;
    padding: 2px 1px 0 0;
}

.contact-row .social-link svg {
	max-width: 15px;
	max-height: 15px;
}

.contact-row-cnt {
	display: flex;
    align-items: center;
}

.contact-row .social-link:not(:last-child) {margin-right: 12px;}

.contacts form {
	display: block;
	width: 100%;
	max-width: 515px;
	padding: 55px 65px 55px;
	background: #FFFFFF;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.contacts form h5 {
    margin-bottom: 13px;
    font-family: 'Roboto Bold';
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #2C2C2C;
}

.contacts form p {
	margin-bottom: 30px;
	font-family: 'Roboto Regular';
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #2C2C2C;
}

.contacts form .field {
	color: #B3B3B3;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: #FFFFFF;
}

.contacts form .field:not(:last-child) {margin: 0 0 30px;}

.contacts form .field::-webkit-input-placeholder {color: #B3B3B3;}
.contacts form .field::-moz-placeholder {color: #B3B3B3;}
.contacts form .field:-ms-input-placeholder {color: #B3B3B3;}
.contacts form .field:-moz-placeholder {color: #B3B3B3;}

.contacts form .btn {
	max-width: 300px;
	margin: 0 auto;
}


.tab-cnt {display: none !important;}

.tab-cnt.active {display: block !important;}

.services .tab-cnt.active {display: flex !important;}


.services {padding: 50px 0 35px;}

.tabs-section {
	display: flex;
	justify-content: center;
}

.tab-trigger {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 224px;
	margin-bottom: 60px;
}

.tab-trigger:not(:last-child) {margin-right: 75px;}

.tab-trigger::before {
	content: '';
	position: absolute;
	top: calc(100% + 11px);
	left: calc(50% - 23px);
	width: 46px;
	height: 9px;
	background-image: url('../images/lines.svg');
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.3s ease;
	opacity: 0;
}

.tab-trigger.active::before {opacity: 1;}

.tab-trigger-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 93px;
    margin-bottom: 9px;
}

.tab-trigger-img img {max-width: 100%;}

.tab-trigger span {
	font-family: 'Roboto Regular';
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #2C2C2C;
	transition: 0.3s ease;
}

.tab-trigger:hover span {color: #ED204C;}

.services-info {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 48px 44px;
	background: #F6F6F6;
	border: 1px solid #C0C0C0;
	border-radius: 20px;
}

.services-info::before {
	content: '';
    position: absolute;
    bottom: calc(100% - 0px);
    left: 213px;
    display: block;
    width: 28px;
    height: 16px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #C0C0C0;
}

.services-info-slider {
	width: 100%;
	max-width: 518px;
	margin-right: 10px;
	border-radius: 10px;
	overflow: hidden;
}

.services-info-slider-img,
.services-info-slider-img img {
	width: 100%;
	max-width: 518px;
	border-radius: 10px;
	overflow: hidden;
}

.services-info-text {
    width: 100%;
    max-width: 492px;
}

.services-info-text h5 {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 11px;
    font-family: 'Roboto Bold';
    font-size: 24px;
    line-height: 36px;
    color: #2C2C2C;
}

.services-info-text h5::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 70px;
	height: 1px;
	background-color: #ED204C;
}

.services-info-text p,
.services-info-text ul li {
    margin-bottom: 13px;
    font-family: 'Roboto Regular';
    font-size: 14px;
    line-height: 24px;
    color: #2C2C2C;
}

.services-info-text ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.services-info-text ul li {
	position: relative;
	padding-left: 33px;
	margin-bottom: 0;
}

.services-info-text ul li::before {
	content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    background-color: #ED204C;
    border-radius: 50%;
}

.services-info-text ul li:not(:last-child) {margin-bottom: 12px;}

.services-info-slider .owl-nav {
	position: absolute;
	bottom: 20px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 0 28px;
}

.services-info-slider .owl-nav button {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    min-width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff !important;
    border: 2px solid #ffffff !important;
    transition: 0.3s ease;
}

.services-info-slider .owl-nav button::before {
    content: '';
    display: block;
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	transition: 0.3s ease;
}

.services-info-slider .owl-nav button.owl-prev::before {background-image: url(../images/arrow-left-red.svg);}

.services-info-slider .owl-nav button.owl-prev:hover::before {background-image: url(../images/arrow-left.svg);}

.services-info-slider .owl-nav button.owl-next::before {background-image: url(../images/arrow-right-red.svg);}

.services-info-slider .owl-nav button.owl-next:hover::before {background-image: url(../images/arrow-right.svg);}

.services-info-slider .owl-nav button:hover {
	border: 2px solid #ED204C !important;
	background-color: #ED204C !important;
}

.services-info-slider .owl-nav button:not(:last-child) {margin-right: 20px;}

.services-info-slider .owl-nav button span {display: none;}


.schedule {
	padding: 51px 0;
	background-color: #F6F6F6;
}


#myChart {
	width: 100% !important;
	height: 455px !important;
	max-height: 455px !important;
}

.header-mob {
	display: none;
}

.menu-trigger-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 84px;
}

.menu-trigger {
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 35px;
    height: 20px;
    transition: 0.6s ease;
}

.menu-trigger span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #ED204C;
	transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.menu-trigger span:nth-child(1) {width: 75%;}

.menu-trigger span:nth-child(3) {width: 40%;}

.header-wrap.open .menu-trigger span {
	position: relative;
	width: 100%;
}

.header-wrap.open .menu-trigger  {justify-content: center;}

.header-wrap.open .menu-trigger span:nth-child(1) {
	transform: rotate(-40deg);
    margin-bottom: -3px;
}

.header-wrap.open .menu-trigger span:nth-child(2),
.slider-triggers-mob {display: none;}

.header-wrap.open .menu-trigger span:nth-child(3) {transform: rotate(40deg);}



@media(max-width: 1180px) {
	.benefits-list,
	.price-list,
	.equipment-list {
		justify-content: space-around;
		flex-flow: row wrap;
	}
	.bnf,
	.equipment-item {margin: 0 0 20px}
	.metallic-table-list {
		flex-direction: column;
    	align-items: center;
	}
	.metallic-table-row::before {
		content: '';
		position: absolute;
		left: 30px !important;
		bottom: 0;
		display: block;
		width: calc(100% - 60px) !important;
		height: 1px;
		background-color: #E2E2E2;
	}
	.metallic-table-column:last-child .metallic-table-row:last-child::before {display: none;}
	.metallic-table-column,
	.metallic-table-row-title {max-width: 100%;}
	.form-section form input:not(:last-child) {margin-right: 15px;}
	header nav a:not(.logo) {
		height: 30px;
		padding: 0px 10px;
	}
	footer nav a:not(.logo):not(:last-child) {margin-right: 15px;}
	.services-info{padding: 20px 15px;}
	.services-info-slider {margin-right: 20px;}
	.logo {
		margin-right: 20px;
		font-family: 'Roboto Bold';
		font-size: 20px;
		line-height: 20px;
	}
	.banner-img {max-width: 395px;}
	.banner .wrapper {align-items: center;}
	.contacts form {
		max-width: 415px;
		padding: 25px 20px 25px;
	}
	.contacts-info {
		max-width: 320px;
		padding: 36px 20px 36px;
	}

}

@media(max-width: 992px) {

	.header-mob .header-tel {
		margin: 0;
		max-width: 127px;
		height: 35px;
		padding: 5px;
		font-size: 12px;
		line-height: 12px;
	}
	.header-mob .header-tel svg {display: none;}
	.header-links .header-tel {display: none;}

	.tab-trigger span {
		font-size: 16px;
    	line-height: 19px;
	}
	.services-info {flex-direction: column;}
	.services-info-slider {
		order: 2px;
		margin: 0 0 30px;
	}
	.services-info-text {
		max-width: 100%;
		margin: 0 0 30px;
	}
	.form-section form {flex-direction: column;}
	.form-section form input:not(:last-child) {margin-right: 0;}
	.sertificates-slider .owl-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1 .red-bg,
	h1 > span:not(.red-bg) {
		font-size: 28px;
		line-height: 28px;
	}
	.banner {padding: 40px 0;}
	h1 .red-bg::before, h1 .red-bg::after {
		width: 20px;
	}
	h1 .red-bg::before {left: -20px;}
	.bnf p,
	.equipment-cnt div {
		font-size: 16px;
		line-height: 19px;
	}
	.metallic-table-row-title,
	.contact-row p, .contact-row a {
		font-size: 14px;
		line-height: 14px;
	}

	.header-mob {
		position: relative;
		z-index: 6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 20px;
		background-color: #F6F6F6;
	}

	header {
		display: none;
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 100px 20px 80px;
		background: #fff;
	}

	header nav a:not(.logo) {
		height: auto;
		margin: 0 0 20px;
		padding: 0;
		font-size: 18px;
		line-height: 18px;
		border: none !important;
	}

	header .logo {display: none;}

	header .wrapper,
	header nav {
		flex-direction: column;
	}
	header .header-links {flex-direction: column;}
	.header-tel {margin: 0 0 20px}
	.contacts-wrap {
		position: static;
		order: 1;
	}
	.contacts-map {
		order: 2;
		height: auto;
		min-height: 300px;
	}
	.contacts-info {
		max-width: 320px;
		padding: 0 0 30px;
		box-shadow: none;
	}
	.contacts form {
		max-width: 415px;
		padding: 0;
		box-shadow: none;
	}
	.contacts .wrapper {
		flex-direction: column;
		align-items: center;
		padding: 40px 20px;
	}
	.contacts {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}
	.header-mob .logo {margin-right: 0;}
}

@media(max-width: 900px) {
	footer nav,
	footer .wrapper {
		flex-direction: column;
		width: 100%;
	}
	footer nav a {margin: 0 0 20px !important;}
	footer {
		padding: 25px 0;
	}
}

@media(max-width: 767px) {
	.banner-img {display: none;}
	.tabs-section {flex-flow: row wrap;}
	.tab-trigger {
		width: 100%;
		max-width: 50%;
		align-items: center;
		margin-right: 0 !important;
	}
	.services-info::before {
		left: calc(50% - 14px);
	}
	.slider-triggers:not(.slider-triggers-mob) {display: none;}
	.slider-triggers-mob {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 0;
		margin: 30px 0 0;
	}
	.sertificates {padding: 40px 0;}
	.title-img,
	.title-line {display: none;}
	.title-name {white-space: normal;}
	.services-info-slider .owl-nav {
		position: static;
		margin: 15px 0 0;
		justify-content: center;
	}
	.services-info-slider .owl-nav button {
		border: 2px solid #ED204C !important;
		background-color: #ED204C !important;
	}

	.services-info-slider .owl-nav button:hover {background-color: transparent !important;}

	.services-info-slider .owl-nav button.owl-prev:hover::before {background-image: url(../images/arrow-left-red.svg);}
	
	.services-info-slider .owl-nav button.owl-prev::before {background-image: url(../images/arrow-left.svg);}

	.services-info-slider .owl-nav button.owl-next:hover::before {background-image: url(../images/arrow-right-red.svg);}

	.services-info-slider .owl-nav button.owl-next::before {background-image: url(../images/arrow-right.svg);}

	.tab-trigger-img {
		height: 46px;
		margin-bottom: 5px;
		max-width: 40px;
	}
	.tab-trigger span {
		font-size: 14px;
		line-height: 16px;
	}
	.tab-trigger {margin-bottom: 20px;}
	.tab-trigger::before {top: calc(100% + 5px);}
	.tabs-content {margin-top: 20px;}
}

@media(max-width: 610px) {
	/* .metallic-table-list {overflow: scroll;} */
	/* .metallic-table-row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.metallic-table-row-title,
	.metallic-table-row-price,
	.metallic-table-row-grow {
		max-width: 100% !important;
    	min-width: 0 !important;
	}	
	.metallic-table-row-title {
		justify-content: center;
		text-align: center;
		padding: 5px 45px 5px 45px;
	}
	.metallic-table-row::before {
		left: 0px !important;
		width: calc(100% - 0px) !important;
	} */

	.metallic-table-list {
		overflow-y: scroll;
		width: 100%;
	}


	.metallic-table-head {
		flex-direction: column;
		align-items: center;
	}
	.metallic-table-head p {
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 19px;
	}
	.metallic-table-head p span {padding-left: 0;}
	.metallic-table-head p span::before {display: none;}


	
	.header-links {flex-direction: column;}
	footer .header-links a:not(.social-link) {margin:  0 0 20px;}
	.banner-price {flex-flow: row wrap;}
	.price-big {margin-bottom: 10px;}
	#myChart {
		width: 100% !important;
		height: 250px !important;
		max-height: 250px !important;
	}
}

@media(max-width: 400px) {
	.equipment-img,
	.price-item-img {min-height: 0;}
}

@media(max-width: 360px) {
	.menu-trigger-wrap {max-width: 48px;}
}





